@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

:root {
	--header-bg: #cc2b5e;
	--text-color-white: #ffffff;
	--text-color-light: #eceff1;
	--text-color-black: #29323c;
	--bg-primary: #e040fb;
	--bg-light: rgba(0, 0, 0, 0.03);
}

html,
body {
	font-size: 100%;
	font-family: "Poppins", sans-serif;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: inherit;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: inherit;
}

ul,
ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
button {
	cursor: pointer;
	border: none;
	outline: none;
}
